h1 {color: black;

}
a {
color: yellowgreen;

}
/* Colors */

.color1 {
    background: lightblue;
  }
  
  .color2 {
    background: deeppink;
  }
  
  .color3 {
    background: lightgoldenrodyellow;
  }
  
  .color4 {
    background: rgba(74, 242, 161, 1.00);
  }
  
  .color5 {
    background: rgba(176, 245, 102, 1.00);
  }
  
  .color6 {
    background: lightpink;
  }
  .bx {
    border: solid 1px #ff0000;
    margin: 1rem;
    padding: 20px;
    border-radius: 8px;
    
  }
  .bx:hover{
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;

    /* Cursor should be pointer */

  }
  
  .container-grid {display: grid;

    width:100%;
    max-width:1000px;
    margin: 0 auto 2em;
    border: 1px solid limegreen;
   
     grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   
    align-items:center;
    justify-content:center;
   }
   .bx {

    border: solid 1px #000000;
    margin: 1rem;
   }
    @media screen and (max-width: 800px) {
     .bx{
     width: 90%;    
      
     }
     .container-grid{
     display: unset;

     }
     } 
     .p {

      background-color: pink;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1em;


     }
      .p:hover{
        font-weight: bold;


      }