h1 {color: #000fff;

}
/* Colors */

.color1 {
    background: lightslategray;
  }
  
  .color2 {
    background: rgba(102, 56, 240, 1.00);
  }
  
  .color3 {
    background: rgba(92, 201, 245, 1.00);
  }
  
  .color4 {
    background: rgba(74, 242, 161, 1.00);
  }
  
  .color5 {
    background: rgba(176, 245, 102, 1.00);
  }
  
  .color6 {
    background: rgba(113, 56, 131, 1.00);
  }
  .bx {
    border: solid 1px #ff0000;
    margin: 1rem;
    padding: 20px;
    border-radius: 8px;
  }
  .container-grid {display: grid;

    width:100%;
    max-width:1000px;
    margin: 0 auto 2em;
    border: 1px solid limegreen;
   
     grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   
    align-items:center;
    justify-content:center;
   }
   .bx {

    border: solid 1px #000000;
    margin: 1rem;
   }
    @media screen and (min-width: 800px) { }